.clearfix:after {
  content: '';
  display: block;
  clear: both; }

.slider-pagination {
  position: relative; }
  .slider-pagination ul {
    list-style: none;
    padding: 0;
    margin: 0;
    text-align: center; }
    .slider-pagination ul li {
      display: inline-block;
      vertical-align: middle;
      color: #FFFFFF;
      width: 50px;
      height: 50px;
      text-align: center;
      line-height: 50px;
      position: relative;
      z-index: 1; }
      .slider-pagination ul li:after {
        content: "";
        display: block;
        width: 100%;
        height: 2px;
        position: absolute;
        top: 24px;
        left: 50%;
        right: 0;
        background: #FFFFFF;
        z-index: -2; }
      .slider-pagination ul li:last-child:after {
        display: none; }
      .slider-pagination ul li.next-prev a {
        font-size: 0; }
        .slider-pagination ul li.next-prev a:before {
          font-size: 22px;
          line-height: 29px;
          border: 0; }
        .slider-pagination ul li.next-prev a:after {
          display: none; }
      .slider-pagination ul li.next-prev:after {
        display: none; }
      .slider-pagination ul li.next-prev.next a:before {
        content: ">"; }
      .slider-pagination ul li.next-prev.prev a:before {
        content: "<"; }
      .slider-pagination ul li a {
        text-decoration: none;
        color: #FFFFFF; }
        .slider-pagination ul li a:before {
          content: "";
          border: 1px solid #FFFFFF;
          background: #BA77FF;
          width: 30px;
          height: 30px;
          border-radius: 50%;
          top: 9px;
          left: 0;
          right: 0;
          margin: auto;
          position: absolute;
          z-index: -1; }
        .slider-pagination ul li a:after {
          content: "";
          border: 2px solid transparent;
          width: 40px;
          height: 40px;
          border-radius: 50%;
          top: 3px;
          left: 0;
          right: 0;
          margin: auto;
          position: absolute;
          z-index: -1; }
      .slider-pagination ul li.active a:after {
        border-color: #FFFFFF; }
      .slider-pagination ul li.available a:before, .slider-pagination ul li.available:after {
        background: #50D2C2; }
      .slider-pagination ul li.available.active a:after {
        border-color: #50D2C2; }
